body{
    background-color: rgba(229, 203, 203, 0.7);
}
form{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%,-50%);
    margin-left: 0;
    width: 260px;
}
a{
    color: #50a6cb;
}
a:hover{
    color: aliceblue;
}