body{
    background-color: rgba(248, 162, 162, 0.7);
    margin:0;
    padding:0;
}
#top_title{
    width:100%;
    font-size:32px;
    text-align: center;
    margin-top:25px;
    height:70px;
    line-height: 70px;
}
#top_link_div{
    float: right;
    margin-right: 8px;
    height:24px;
    line-height: 24px;
}
a{
    color: #50a6cb;
}
a:hover{
    color: aliceblue;
}