<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/newFriend.css}">
</head>
<body>
<div>
    <div><a th:href="@{/page.do?operate=page&page=frames/left}">返回好友列表</a></div>
    <div id="div_find_friend">
        <form method="post" th:action="@{/user.do}">
            <input name="operate" type="hidden" value="addFriend"/>
            <input name="uid" th:value="${session.userBasic.id}" type="hidden"/>
            <!--        <input type="hidden" name="fid" th:value="${session.friend.id}"/>-->
            <div class="inputBox">
                <label>ID:</label>
                <input name="fid" type="text"/>
            </div>
            <div class="inputBox">
                <label>名字：</label>
                <input name="nickName" type="text"/>
            </div>
            <p>(提示：输入其中一个即可查询到)</p>
            <input type="submit" value=" 发 送 申 请"/>
            <input type="reset" value=" 重 置 "/>
        </form>
    </div>
</div>
</body>
</html>