<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/common2.css">
</head>
<body>
<p class="b1">QQ空间</p>
<div class="box">
    <h2>用户登录</h2>
    <form method="get" th:action="@{/user.do}">
        <input name="operate" type="hidden" value="login"/>
        <div class="inputBox">
            <input name="loginId" type="text" value="u001"/>
            <label>账号</label>
        </div>
        <div class="inputBox">
            <input name="pwd" type="password" value="ok"/>
            <label>密码</label>
        </div>
        <div align="center">
            <input type="submit" value="登录"/>
            <br>
            <span><a th:href="@{/page.do?operate=page&page=findPsw}">忘记密码了？</a></span>
            <span><a th:href="@{/page.do?operate=page&page=register}">还没有账号？注册一个吧！</a></span>
        </div>
    </form>
</div>
</body>
</html>
